<head th:replace="~{admin/fragment/head}"></head>
<div class="container">

	<h3 class="text-center">Compras</h3>

	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#generarModal">
		Nueva compra
	</button>

	<table class="table">
		<thead>
			<th># de compra</th>
			<th>Fecha</th>
			<th>Hora</th>
			<th>Empleado</th>
			<th>Proveedor</th>
			<th>Estado</th>
			<th>Acciones</th>
		</thead>
		<tbody>
			<tr th:each="compra: ${compras}">
				<td th:text="${compra.compraId}"></td>
				<td th:text="${compra.fecha}"></td>
				<td th:text="${#temporals.format(compra.hora, 'HH:mm:ss')}"></td>
				<td th:text="${compra.empleado.nombres}+' '+${compra.empleado.apellidos}"></td>
				<td th:text="${compra.proveedor.nombre}"></td>
				<td>
					<label th:if="${compra.estado=='Pendiente'}">Pendiente</label>
					<label th:if="${compra.estado=='Finalizado'}">Finalizado</label>
				</td>
				<td>
					<a class="btn btn-success" th:if="${compra.estado=='Pendiente'}"
						th:href="@{'/compra/finalizar/' + ${compra.compraId}}">Finalizar</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="modal fade" id="generarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Seleccione un proveedor</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form method="post" th:object="${compra}" th:action="@{/compra/generar}">
					<div class="modal-body">
						<label>Proveedores</label>
						<select required class="form-control" th:field="${compra.proveedor}">
							<option value="" hidden="true">Seleccione un proveedor</option>
							<option th:each="proveedor : ${proveedores}" th:value="${proveedor.proveedorId}"
								th:text="${proveedor.nombre}"></option>
						</select>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
<footer th:replace="~{admin/fragment/foot}"></footer>