<head th:replace="~{admin/fragment/head}"></head>
<div class="container">
	<h3 class="text-center">Cotización N° <label th:text="${cotizacion.codigo}"></label></h3>
	<form method="post" th:object="${cotizacionProducto}" th:action="@{/cotizacion/agregar-producto}">
		<div class="row">
			<div class="col-6">
				<label>Fecha</label>
				<input class="form-control" th:value="${cotizacion.fecha}" readonly>
			</div>
			<div class="col-6">
				<label>Cliente</label>
				<select th:if="${clienteId==null}" required class="form-control" th:name="clienteId">
					<option value="" hidden="true">Seleccione un cliente</option>
					<option th:each="cliente : ${clientes}" th:value="${cliente.clienteId}"
						th:text="${cliente.nombres}+' '+${cliente.apellidos}+' - DNI: '+${cliente.dni}"></option>
				</select>
				<select th:if="${clienteId!=null}" required class="form-control" th:name="clienteId">
					<option th:each="cliente : ${clientes}" th:value="${cliente.clienteId}"
						th:text="${cliente.nombres}+' '+${cliente.apellidos}+' - DNI: '+${cliente.dni}"
						th:selected="${clienteId}==${cliente.clienteId}">
					</option>
				</select>
			</div>
		</div>
		<label>Producto</label>
		<select required class="form-control" th:field="${cotizacionProducto.producto}">
			<option value="" hidden="true">Seleccione un producto</option>
			<option th:each="producto : ${productos}" th:value="${producto.productoId}"
				th:text="${producto.nombre}+' - S/'+${producto.precioVenta}">
			</option>
		</select>
		<div class="row">
			<div class="col-6">
				<label>Cantidad</label>
				<input required minlength="1" maxlength="8" onkeypress="return validarNumeros(event, this)"
					class="form-control" th:field="${cotizacionProducto.cantidad}" type="number">
			</div>
			<div class="col-6">
				<label></label>
				<button type="submit" class="btn btn-primary">Agregar producto</button>
			</div>
		</div>
	</form>

	<table class="table">
		<thead>
			<th>Opciones</th>
			<th>#</th>
			<th>Producto</th>
			<th>Precio de compra</th>
			<th>Cantidad</th>
			<th>Monto</th>
		</thead>
		<tbody class="table-group-divider">
			<tr th:each="cotizacionProducto, itrStat : ${listaCotizacion}">
				<td>
					<a class="btn btn-danger" th:href="@{'/cotizacion/aumentar-producto/' + ${itrStat.index}}">+</a>
					<a class="btn btn-danger" th:href="@{'/cotizacion/disminuir-producto/' + ${itrStat.index}}">-</a>
					<a class="btn btn-danger" th:href="@{'/cotizacion/quitar-producto/' + ${itrStat.index}}">Quitar</a>
				</td>
				<td th:text="${itrStat.index+1}"></td>
				<td th:text="${cotizacionProducto.producto.nombre}"></td>
				<td th:text="${cotizacionProducto.producto.precioVenta}"></td>
				<td th:text="${cotizacionProducto.cantidad}"></td>
				<td
					th:text="${#numbers.formatDecimal(cotizacionProducto.producto.precioVenta*cotizacionProducto.cantidad, 1, 'COMMA', 2, 'POINT')}">
				</td>
			</tr>
			<tr th:if="${total==null || total==0.0}">
				<td class="text-center" colspan="6">Agregue algunos productos</td>
			</tr>
			<tr th:if="${total!=null && total!=0.0}">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="text-end fw-bold">Subtotal</td>
				<td class="fw-bold" th:text="'S/'+${total}"></td>
			</tr>
		</tbody>
	</table>

	<form method="post" th:object="${cotizacion}" th:action="@{/cotizacion/registrar}">
		<div class="row">
			<input class="form-control" type="hidden" th:value="${total}" id="subtotal">
			<div class="col-3">
				<label>Descuento</label>
				<input required minlength="1" maxlength="8" onkeypress="return validarNumeros(event, this)"
					class="form-control" th:name="descuento" type="number" value="0" step="0.01" min="0" id="descuento">
			</div>
			<div class="col-3">
				<label>OP. Gravada</label>
				<input class="form-control" readonly th:value="${total}">
			</div>
			<div class="col-3">
				<label>IGV</label>
				<input class="form-control" readonly th:value="${total}">
			</div>
			<div class="col-3">
				<label>Total</label>
				<input required readonly class="form-control" th:name="montoTotal" type="number" th:value="${total}"
					id="total">
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Registrar cotizacion</button>
	</form>
</div>
<footer th:replace="~{admin/fragment/foot}"></footer>