<head th:replace="~{admin/fragment/head}"></head>
<div class="container">

	<h3 class="text-center">Productos</h3>

	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registroModal">
		Registrar
	</button>

	<hr class="border-bottom">
	<table class="table table-striped table-hover" id="tablaDatos">
		<thead>
			<th>#</th>
			<th>Código</th>
			<th>Nombre</th>
			<th>Categoría</th>
			<th>Imagen</th>
			<th>Estado</th>
			<th>Acciones</th>
		</thead>
		<tbody>
			<tr th:each="producto: ${productos}">
				<td th:text="${producto.productoId}"></td>
				<td th:text="${producto.codigo}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.categoria.nombre}"></td>
				<td>
					<img th:alt="${producto.nombre}" th:src="${producto.imagen}" width="80" />
				</td>
				<td>
					<label th:if="${producto.estado==true}">Activo</label>
					<label th:if="${producto.estado==false}">Inactivo</label>
				</td>
				<td>
					<button type="button" class="btn btn-warning" data-bs-toggle="modal"
						th:data-bs-target="'#editarModal' + ${producto.productoId}">
						Editar
					</button>
					<a class="btn btn-success" th:if="${producto.estado == false}"
						th:href="@{'/producto/cambiar-estado/' + ${producto.productoId}}">Activar</a>
					<a class="btn btn-danger" th:if="${producto.estado == true}"
						th:href="@{'/producto/cambiar-estado/' + ${producto.productoId}}">Desactivar</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Registrar producto</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form method="post" th:object="${producto}" th:action="@{/producto/registrar}"
					enctype="multipart/form-data" autocomplete="off">
					<div class="modal-body">
						<label>Categoría</label>
						<select required class="form-control" th:field="${producto.categoria}">
							<option value="" hidden="true">Seleccione una categoría</option>
							<option th:each="categoria : ${categorias}" th:value="${categoria.categoriaId}"
								th:text="${categoria.nombre}"></option>
						</select>
						<label>Proveedor</label>
						<select required class="form-control" th:field="${producto.proveedor}">
							<option value="" hidden="true">Seleccione un proveedor</option>
							<option th:each="proveedor : ${proveedores}" th:value="${proveedor.proveedorId}"
								th:text="${proveedor.nombre}"></option>
						</select>
						<label>Nombre</label>
						<input class="form-control" th:field="${producto.nombre}" required minlength="4" maxlength="150"
							onkeypress="return validarAlfanumerico(event)">
						<label>Código</label>
						<input class="form-control" th:field="${producto.codigo}" required minlength="4" maxlength="10"
							onkeypress="return validarDireccion(event)">
						<label>Descripción</label>
						<input class="form-control" th:field="${producto.descripcion}" minlength="4" maxlength="150"
							onkeypress="return validarAlfanumerico(event)">
						<label>Imagen</label>
						<input required type="file" accept="image/*" th:name="img" class="form-control">
						<label>Precio de compra</label>
						<input required minlength="1" maxlength="8" onkeypress="return validarDecimal(event, this)"
							class="form-control" th:field="${producto.precioCompra}" min="1">
						<label>Precio de venta</label>
						<input required minlength="1" maxlength="8" onkeypress="return validarDecimal(event, this)"
							class="form-control" th:field="${producto.precioVenta}" min="1">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Registrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:each="producto: ${productos}">
		<div class="modal fade" th:id="'editarModal' + ${producto.productoId}" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5">Editar producto</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form method="post" th:object="${producto}" autocomplete="off"
						th:action="@{'/producto/actualizar/' + ${producto.productoId}}" enctype="multipart/form-data">
						<div class="modal-body">
							<label>Categoría</label>
							<select required class="form-control" th:value="${producto.categoria}" th:name="categoria">
								<option th:each="categoria : ${categorias}" th:value="${categoria.categoriaId}"
									th:text="${categoria.nombre}"
									th:selected="${categoria.categoriaId}==${producto.categoria.categoriaId}">
								</option>
							</select>
							<label>Proveedor</label>
							<select required class="form-control" th:value="${producto.proveedor}" th:name="proveedor">
								<option th:each="proveedor : ${proveedores}" th:value="${proveedor.proveedorId}"
									th:text="${proveedor.nombre}"
									th:selected="${producto.proveedor.proveedorId}==${proveedor.proveedorId}">
								</option>
							</select>
							<label>Nombre</label>
							<input onkeypress="return validarLetras(event)" required minlength="4" maxlength="50"
								class="form-control" type="text" th:value="${producto.nombre}" th:name="nombre">
							<label>Código</label>
							<input onkeypress="return validarAlfanumerico(event)" required minlength="4" maxlength="50"
								class="form-control" type="text" th:value="${producto.codigo}" th:name="codigo">
							<label>Descripción</label>
							<input onkeypress="return validarDireccion(event)" required minlength="4" maxlength="50"
								class="form-control" type="text" th:value="${producto.descripcion}"
								th:name="descripcion">
							<label>Imagen</label>
							<img th:alt="${producto.nombre}" th:src="${producto.imagen}" width="100" />
							<input type="file" accept="image/*" th:name="img" class="form-control">
							<label>Precio de compra</label>
							<input required minlength="1" maxlength="8" onkeypress="return validarDecimal(event, this)"
								class="form-control" type="text" th:value="${producto.precioCompra}"
								th:name="precioCompra" min="1">
							<label>Precio de venta</label>
							<input required minlength="1" maxlength="8" onkeypress="return validarDecimal(event, this)"
								class="form-control" type="text" th:value="${producto.precioVenta}"
								th:name="precioVenta" min="1">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Editar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
<footer th:replace="~{admin/fragment/foot}"></footer>