<head th:replace="~{admin/fragment/head}"></head>
<div class="container-fluid">
	<div class="card shadow m-4 p-5">

		<h3 class="text-center">Ventas</h3>

		<a class="btn btn-primary" th:href="@{/venta/generar}">Nueva venta</a>

		<hr class="border-bottom">
		<table class="table table-striped table-hover" id="tablaProductos">
			<thead>
				<th># de venta</th>
				<th>Fecha</th>
				<th>Hora</th>
				<th>Empleado</th>
				<th>Cliente</th>
				<th>Estado</th>
				<th>Monto total</th>
			</thead>
			<tbody>
				<tr th:each="venta: ${ventas}">
					<td th:text="${venta.ventaId}"></td>
					<td th:text="${venta.fecha}"></td>
					<td th:text="${#temporals.format(venta.hora, 'HH:mm:ss')}"></td>
					<td th:text="${venta.empleado.nombres}+' '+${venta.empleado.apellidos}"></td>
					<td th:text="${venta.cliente.nombres}+' '+${venta.cliente.nombres}"></td>
					<td th:text="${venta.estado}"></td>
					<td th:text="'S/ '+${venta.montoTotal}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<footer th:replace="~{admin/fragment/foot}"></footer>