.chat-container {
	max-width: 450px;
	/* Ancho ajustado */
	width: 100%;
	position: fixed;
	bottom: 80px;
	/* Ajustado para que no se superponga con el botón flotante */
	right: 20px;
	background-color: #ffffff;
	border: none;
	/* Eliminado el borde blanco */
	border-radius: 10px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	/* Sombra para efecto de flotación */
	overflow: hidden;
	display: flex;
	/* Mostrar por defecto */
	flex-direction: column;
	height: 500px;
	/* Altura ajustada */
	z-index: 1050;
	/* Asegura que aparezca sobre otros elementos */
}

.chat-header {
	background-color: #434DB4;
	/* Color del encabezado ajustado */
	color: #ffffff;
	padding: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
}

.chat-body {
	max-height: 400px;
	/* Ajustado para encajar en la nueva altura */
	overflow-y: auto;
	padding: 15px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.message {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.message .message-content {
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	max-width: 80%;
}

.message.sent .message-content {
	background-color: #007bff;
	color: #ffffff;
	align-self: flex-end;
}

.message.received .message-content {
	background-color: #f2f2f2;
	color: #333333;
	align-self: flex-start;
}

.message-time-sent {
	font-size: 0.8rem;
	color: #999999;
	margin-top: 5px;
	align-self: flex-end;
}

.message-time-received {
	font-size: 0.8rem;
	color: #999999;
	margin-top: 5px;
	align-self: flex-start;
}

.input-group {
	padding: 15px;
	background-color: #f0f0f0;
	border-top: 1px solid #dcdcdc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-direction: row;
}

.input-group input.form-control {
	border-radius: 20px;
	border: 1px solid #dcdcdc;
}

.input-group button.btn-primary {
	border-radius: 20px;
	background-color: #007bff;
	border: none;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 1.2rem;
	color: #ffffff;
}

.close-btn:hover {
	color: #cccccc;
}

.floating-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #434DB4;
	/* Color del botón ajustado */
	color: #ffffff;
	border: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 1000;
	/* Asegura que aparezca debajo del contenedor del chat */
}

.floating-btn img {
	width: 30px;
	/* Ajusta el tamaño de la imagen según sea necesario */
	height: 30px;
	/* Ajusta el tamaño de la imagen según sea necesario */
}

.floating-btn:hover {
	background-color: #353c91;
	/* Color más oscuro al pasar el ratón */
}